# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Model files
*.pth
*.pt
*.ckpt

# MRI datasets
datasets/
*.nii
*.nii.gz
py -3.12 -m venv .venv
# Output folders
outputs/

# Operating system files
.DS_Store
Thumbs.db